.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    max-width: 500px;
    min-width: 300px;
    height: calc (100vh - 50px);
    padding: 20px;
    border-right: 1px solid #2a2a2a;
    overflow-y: auto;
    gap: 10px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.imagesContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;

}
