.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 250px;
}

.authInfo {
    font-size: 18px;
    color: #777;
    margin-left: 10px;
}

.creditInfo {
    font-size: 18px;
    color: #777;
    margin-left: 10px;
}
